@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

h1 {
    font-weight: 700;
    font-size: 2.5rem;
    color: #F2F2F2;
}

h2 {
    font-weight: 700;
    font-size: 2rem;
    color: #F2F2F2;
}

p {
    font-weight: 400;
    font-size: 1rem;
    color: #F2F2F2;
}

@layer base {
    div.backdrop-with-content:hover > div {
      @apply bg-blue-500;
    }
  }